{% extends "layout.html" %}

{% block pageTitle %}
  Confirm the company
{% endblock %}

{% block backLink %}
    {{ govukBackLink({
      text: "Back",
      href: "company-number",
      attributes: {
        "data-event-id": "back-button"
      }
    }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Check company details</h1>
      <h2 class="govuk-heading-l">{{scenario.company.name}}</h2>

      {% set inactiveHTML %}
        {% if scenario.company.companyStatus === "Inactive" %}
          <span class="govuk-!-font-weight-bold">Dissolved</span>
        {% else %}
          {{scenario.company.companyStatus}}
        {% endif %}
      {% endset %}

      {% set AAoverdueHTML %}
        {% if scenario.company.accountsStatus === "overdue" %}
          {{scenario.company.accountsDue}}
          <br/>
          <span class="govuk-!-font-weight-bold">Your accounts are overdue</span>
        {% elseif scenario.company.accountsDue === "inactive" %}
          You don’t have to file final accounts with Companies House
        {% else %}
          {{scenario.company.accountsDue}}
        {% endif %}
      {% endset %}

      {% set CSoverdueHTML %}
        {% if scenario.company.csStatus === "overdue" %}
          {{scenario.company.csDue}}
          <br/>
          <span class="govuk-!-font-weight-bold">Your confirmation statement is overdue</span>
        {% elseif scenario.company.csDue === "inactive" %}
          You don’t have to file final accounts with Companies House
        {% else %}
          {{scenario.company.csDue}}
        {% endif %}
      {% endset %}

      {% if scenario.company.PTFRequested === "yes" %}
        {% from "warning-text/macro.njk" import govukWarningText %}
        {{ govukWarningText({
        text: "You've already told us you're going to file",
        iconFallbackText: "Warning"
        }) }}
      {% endif %}

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Company number"
            },
            value: {
              text: scenario.company.companyNumber
            }
          },
          {
            key: {
              text: "Status"
            },
            value: {
              html: inactiveHTML
            }
          },
          {
            key: {
              text: "Incorporation date"
            },
            value: {
              text: scenario.company.incorporationDate
            }
          },
          {
            key: {
              text: "Company type"
            },
            value: {
              text: scenario.company.companyType
            }
          },
          {
            key: {
              text: "Registered office address"
            },
            value: {
              html: scenario.company.address
            }
          },
          {
            key: {
              text: "Accounts due by"
            },
            value: {
              html: AAoverdueHTML
            }
          },
          {
            key: {
              text: "Confirmation statement due"
            },
            value: {
              html: CSoverdueHTML
            }
          }
        ]
      })  }}

      {{ govukButton({
        text: "Continue",
        attributes: {
          "data-event-id": "continue-button",
          id: "submit"
        }
      }) }}
    </div>
  </div>
{% endblock %}
