{% extends "layout.html" %}

{% block pageTitle %}
    Confirm the company
{% endblock %}

{% block beforeContent %}
    {{ govukPhaseBanner({
    tag: {
        text: "alpha"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
    }) }}
    {{ govukBackLink({
        text: "Back",
        href: "reference-number"
    }) }}
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">Check company details</h1>
            <h2 class="govuk-heading-l">{{company.companyName}}</h2>

    {% set inactiveHTML %}
        {% if company.companyStatus === "Inactive" %}
            <span class="govuk-!-font-weight-bold">Dissolved</span>
        {% else %}
            {{company.companyStatus}}
        {% endif %}
    {% endset %}

    {% set AAoverdueHTML %}
        {% if company.isAccountsOverdue or accountDueDatePassed %}
            {{company.accountsDue}}
            <br/>
            <span class="govuk-!-font-weight-bold">Your accounts are overdue</span>
        {% elseif company.accountsDue === "inactive" %}
            You don’t have to file final accounts with Companies House
        {% else %}
            {{company.accountsDue}}
        {% endif %}
    {% endset %}

    {% set CSoverdueHTML %}
        {% if company.isConfirmationStatementOverdue or csDueDatePassed %}
            {{company.confirmationStatementDue}}
            <br/>
            <span class="govuk-!-font-weight-bold">Your confirmation statement is overdue</span>
        {% elseif company.companyStatus === "inactive" %}
            You don’t have to file final accounts with Companies House
        {% else %}
            {{company.confirmationStatementDue}}
        {% endif %}
    {% endset %}

    {% if company.ptfRequested === "yes" %}
        {% from "warning-text/macro.njk" import govukWarningText %}
        {{ govukWarningText({
        text: "You've already told us you're going to file",
        iconFallbackText: "Warning"
        }) }}
    {% endif %}


    {% set address %}
        {{company.address.line_1}}
        <br/>
        {{company.address.line_2}}
        <br/>
        {{company.address.postCode}}
    {% endset %}

    {{ govukSummaryList({
        classes: 'govuk-!-margin-bottom-9',
        rows: [
            {
                key: {
                    text: "Company number"
                },
                value: {
                    text: company.companyNumber
                }
            },
            {
                key: {
                    text: "Status"
                },
                value: {
                    html: inactiveHTML
                }
            },
            {
                key: {
                    text: "Incorporation date"
                },
                value: {
                    text: company.incorporationDate
                }
            },
            {
                key: {
                    text: "Company type"
                },
                value: {
                    text: company.companyType
                }
            },
            {
                key: {
                    text: "Registered office address"
                },
                value: {
                    html: address
                }
            },
            {
                key: {
                    text: "Accounts due"
                },
                value: {
                    html: AAoverdueHTML
                }
            },
            {
                key: {
                    text: "Confirmation statement due"
                },
                value: {
                    html: CSoverdueHTML
                }
            }
        ]
    }) }}

    {% if company.ptfRequested !== "yes" %}
    {{ govukButton({
        text: "Continue",
        href: "continue-trading",
        attributes: {
            "data-event-id": "continue-button",
            id: "submit"
        }
    }) }}

    {% else %}
        {{ govukButton({
            text: "Continue",
            href: "confirmation",
            attributes: {
                "data-event-id": "continue-button",
                id: "submit"
            }
        }) }}
    {% endif %}
        </div>
    </div>
{% endblock %}
