{% extends "layout.html" %}

<!-- Adds a class to increase vertical spacing for pages without a back button -->
{% set mainClasses = "govuk-main-wrapper--l" %}

{% block pageTitle %}
Confirmation page
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <div class="govuk-panel govuk-panel--confirmation">
            <h1 class="govuk-panel__title">You've told us
                {{company.companyName}}
                is still required</h1>
            <div class="govuk-panel__body">
                Your reference number is the company number<br>
                <strong>{{ company.companyNumber }}</strong>
            </div>
        </div>

        {% if company.PTFRequested !== "yes" %}
        <p class="govuk-body-l">
            We've sent a confirmation email to
            <span class="govuk-body-l govuk-!-font-weight-bold">{{ userEmail }}</span>
            which contains your reference number.
        </p>
        {% else %}
        <p class="govuk-body-l">
            We sent a confirmation email to
            <span class="govuk-body-l govuk-!-font-weight-bold">{{ userEmail }}</span>
            on the
            {{ requestedDate }}
            which contains your reference number.
        </p>
        {% endif %}

        <p class="govuk-body hide-print-content print-link no-print" style="display: block;" aria-hidden="true" hidden="hidden">
            <a href="javascript:if(window.print)window.print()" class="govuk-link">View printer-friendly version</a>
        </p>

        <h2 class="govuk-heading-m">What happens next</h2>
        <p>
            {{ company.companyName }} will be kept on the register. This means we will no longer close the company,
            but it must file its {{ overdueFiling }} to stay on the register.
        </p>

        {% if company.isAccountsOverdue === true %}
            <p>
                The company will receive an automatic
                <a href="https://www.gov.uk/annual-accounts/penalties-for-late-filing">late filing penalty</a>
                as soon as the accounts are filed and accepted because they are already late. The penalty will increase over
                time until the accounts are filed and applies to all companies, no matter what size or type of business. If
                the company's accounts are filed late in consecutive years, the penalty will double for that year's accounts.
                The original filing deadline has not been changed or extended.
            </p>
        {% endif %}

        <p>
            If {{ company.companyName }} has not filed by {{ newDeadline }}, we may prosecute the directors of the company.
        </p>
        <p>
            <a href="https://www.gov.uk/government/organisations/companies-house/about/access-and-opening#cdf-addrs">Contact us</a> if you need to give more information or you want to talk to someone about reasonable adjustments.
        </p>
        {{ govukWarningText({
            html: "Failure to file confirmation statements or accounts is a criminal offence and the directors of the company can be fined in criminal court. Information about the consequences of not filing can be <a href='https://www.gov.uk/annual-accounts/penalties-for-late-filing'>found in our guidance</a>.",
            iconFallbackText: "Warning"
        }) }}
        <p class="govuk-body">
            <a href="https://www.research.net/r/ptf-confirmation" class="govuk-link">What did you think of this service?</a>
            (takes 30 seconds)
        </p>
    </div>
</div>

{% endblock %}
