{% extends "layout.html" %}

<!-- Adds a class to increase vertical spacing for pages without a back button -->
{% set mainClasses = "govuk-main-wrapper--l" %}

{% block pageTitle %}
Confirmation page
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <div class="govuk-panel govuk-panel--confirmation">
            <h1 class="govuk-panel__title">You've told us
                {{company.companyName}}
                is still required</h1>
            <div class="govuk-panel__body">
                Your reference number is the company number<br>
                <strong>{{ company.companyNumber }}</strong>
            </div>
        </div>

        {% if company.PTFRequested !== "yes" %}
        <p class="govuk-body-l">
            We've sent a confirmation email to
            <span class="govuk-body-l govuk-!-font-weight-bold">{{ userEmail }}</span>
            which contains your reference number.
        </p>
        {% else %}
        <p class="govuk-body-l">
            We sent a confirmation email to
            <span class="govuk-body-l govuk-!-font-weight-bold">{{ userEmail }}</span>
            on the
            {{ requestedDate }}
            which contains your reference number.
        </p>
        {% endif %}

        <p class="govuk-body">
            <a href="print-confirmation" class="govuk-link">View printer-friendly version</a>
        </p>

        <h2 class="govuk-heading-m">What happens next</h2>
        <p>{{ company.companyName }}
            will be kept on the register but it must file its accounts. The original filing deadline has not been changed or extended,
            so the company will receive a
            <a href="https://www.gov.uk/annual-accounts/penalties-for-late-filing">late filing penalty</a>
            that increases over time until its accounts are filed.</p>
        <p>If the accounts are not filed by {{ newDeadline}} we may prosecute the company directors.</p>
        {{ govukWarningText({
        text: "Not filing for a company is a criminal offence. The directors of the company risk prosecution and company assets may be seized. ",
        iconFallbackText: "Warning"
        }) }}
        <p class="govuk-body">
            <a href="https://www.research.net/r/ptf-confirmation" class="govuk-link">What did you think of this service?</a>
            (takes 30 seconds)
        </p>
    </div>
</div>

{% endblock %}
