{% extends "layout.html" %}

<!-- Adds a class to increase vertical spacing for pages without a back button -->
{% set mainClasses = "govuk-main-wrapper--l" %}

{% block pageTitle %}
You cannot use this service
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">You cannot use this service</h1>

    {% if cannotUseReason === 'no open compliance case' %}
    <p>The accounts and confirmation statement for {{companyName}} have been filed and are up to date.</p>
    <p>You do not need to let us know that the company is still required.</p>
    {% else %}

      {% if cannotUseReason === 'existing promise to file' %}
        <p>We've already been told that {{companyName}} is still required.</p>
        <p class="govuk-body">The company must now <a href="https://www.gov.uk/running-a-limited-company">file its overdue accounts or confirmation statement</a>.</p>
        <p>If the company's accounts are overdue, it will receive a late filing penalty that increases until it files. If the company's confirmation statement is overdue, it will not receive a penalty.</p>
      {% elseif cannotUseReason === 'no appointed directors' %}
        <p>The company {{companyName}} has no appointed directors. Companies must have at least one director.</p>
        <p>You can <a href="https://www.gov.uk/government/publications/appoint-a-director-ap01">appoint a director</a> online.</p>
      {% elseif cannotUseReason === 'history of late filings' %}
        <p>The company {{companyName}} has filed documents late in the past. You will need to contact us to tell us your company is still required.</p>
      {% endif %}

      <h2 class="govuk-heading-m">Contact us</h2>
        <h3 class="govuk-heading-s">By email</h3>
          <p class="govuk-body">enquiries@companieshouse.gov.uk</p>
        <h3 class="govuk-heading-m">By post</h3>
          <h4 class="govuk-heading-s">England and Wales</h4>
          <p class="govuk-body">
            Companies House<br/>
            Crown Way<br/>
            Cardiff<br/>
            CF14 3UZ
          </p>
          <h4 class="govuk-heading-s">Scotland</h4>
            <p class="govuk-body">
              Companies House<br/>
              Fourth Floor<br/>
              Edinburgh Quay 2<br/>
              139 Fountainbridge<br/>
              Edinburgh<br/>
              EH3 9FF
            </p>
          <h4 class="govuk-heading-s">Northern Ireland</h4>
            <p class="govuk-body">
              Companies House<br/>
              2nd Floor<br/>
              The Linenhall<br/>
              32-38 Linenhall Street<br/>
              Belfast<br/>
              BT2 8BG<br/>
            </p>

      <p class="govuk-body">
        <a href="https://www.gov.uk/service-manual/user-centred-design/resources/patterns/feedback-pages.html" class="govuk-link">What did you think of this service?</a>
        (takes 30 seconds)
      </p>
    {% endif %}
  </div>
</div>

{% endblock %}
